@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root{
    --light-black: #242424;
    --light-white: #faf8ff;
}

*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: var(--light-white);
}

#div-main{
    width: fit-content;
    margin: 0px auto;
}

h1{
    text-align: center;
    font-weight: 600;
}

#div-calculator{
    display: flex;
    flex-direction: column;
    align-content: space-between;

    width: 570px;
    height: fit-content;
    
    padding: 40px;
    background-color: var(--light-black);

    border-radius: 20px;
    box-shadow: 2px 2px 10px var(--light-black);
}

#div-calculator *:not(span, button){
    color: var(--light-black);
    border-radius: 20px;
}

#div-display{
    height: 87px;

    display: flex;
    flex-direction: column;
    align-content: space-between;

    background-color: var(--light-white);

    padding: 16px;
    margin-bottom: 20px;
}

#div-display span{
    width: 100%;
    text-align: right;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;

    background-color: transparent;
    border: none;
}

#span-Operation{
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 400;
}

#span-CurrentNumberDisplay{
    font-size: 27px;
    font-weight: 600;
}

#div-buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;

    padding: 16px 16px 8px;

    background-color: var(--light-white);
}

button{
    width: 108px;
    height: 66px;

    font-size: 27px;
    cursor: pointer;

    margin-bottom: 8px;

    background-color: hsl(257, 9%, 85%);
    border: none;
    border-radius: 20px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


button:hover{
    background-color: hsl(257, 9%, 80%);
}

button:active{
    transform: scale(0.98);
}

/* Buttons classes */
/*Hover makes colors darker*/
.basicOperation, .notBasicOperation{
    background-color: hsl(202, 21%, 62%);
}

.basicOperation:hover, .notBasicOperation:hover{
    background-color: hsl(202, 21%, 46%);
}

.clear{
    background-color: hsl(124, 38%, 65%);
}

.clear:hover{
    background-color: hsl(124, 38%, 49%);
}

#btn-equal{
    background-color: hsl(189, 100%, 45%);
}

#btn-equal:hover{
    background-color: hsl(189, 100%, 34%);
}
